anndata>=0.7
scanpy>=1.7.0
importlib_metadata>=0.7; python_version < '3.8'
matplotlib>=3.1.2
pandas>=0.21
scipy>=1.4
seaborn
h5py>=2.10.0
scikit-learn>=0.21.2
statsmodels>=0.10.0rc2
networkx
natsort
joblib
numba>=0.50.0
numpy>=1.17.0
bamnostic>=1.0.12
umap-learn>=0.3.10
tqdm
tbb
legacy-api-wrap
setuptools_scm
packaging
pysam; platform_system != "Windows"
h5py