# use highlighting until the merge of https://github.com/rtfd/readthedocs.org/pull/4096
sphinx_rtd_theme>=0.3.1
# sphinx-autodoc-typehints needs at least sphinx 1.8
# sphinx version does not make a huge difference
# sphinx>=1.8
sphinx>=2.0.1
sphinx_autodoc_typehints
scanpydoc>=0.3.2
# same as ../requires.txt, but omitting the c++ packages
anndata>=0.6.18
scanpy>=1.4.1
matplotlib>=3.0.0
pandas>=0.21
scipy<=1.1
seaborn
h5py
scikit-learn>=0.19.1
# statsmodels  # not needed for docs
networkx
natsort
joblib
numba>=0.41.0
pysam
umap
