# use highlighting until the merge of https://github.com/rtfd/readthedocs.org/pull/4096
sphinx_rtd_theme>=0.3.1
# sphinx-autodoc-typehints needs at least sphinx 1.8
# sphinx version does not make a huge difference
#sphinx>=1.8
sphinx>=2.0.1
sphinx_autodoc_typehints
scanpydoc
# same as ../requires.txt, but omitting the c++ packages
anndata>=0.6.22rc1
git+https://github.com/theislab/scanpy.git
#scanpy>=1.4.3
matplotlib==3.0.*
pandas>=0.21
scipy>=1.3
seaborn
h5py
scikit-learn>=0.19.1, != 0.21.0, != 0.21.1
# statsmodels  # not needed for docs
networkx
natsort
joblib
numba>=0.41.0
pysam
umap-learn>=0.3.0
